**Import pandas**

In [1]:
import pandas as pd

**Read the data from Salaries.csv and store it in a dataframe**

In [2]:
df = pd.read_csv('Salaries.csv')

**Check if the dataframe is properly read or not using the head function**

In [4]:
df.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

In [6]:
df.tail(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.0,0.0,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148645,148646,Carolyn A Wilson,Human Services Technician,0.0,0.0,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148646,148647,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148647,148648,Joann Anderson,Communications Dispatcher 2,0.0,0.0,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148648,148649,Leon Walker,Custodian,0.0,0.0,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148649,148650,Roy I Tillery,Custodian,0.0,0.0,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [9]:
df.sample(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
61295,61296,Ireneo Sandoval,Clerk,47298.93,1911.81,598.32,25885.58,49809.06,75694.64,2012,NaN,San Francisco,NaN
45455,45456,David Smith,Deputy Sheriff,79196.64,23669.43,5463.29,33419.74,108329.36,141749.10,2012,NaN,San Francisco,NaN
118757,118758,John A Klein,Sr Power Generation Tech,107588.41,5117.43,471.79,38257.46,113177.63,151435.09,2014,NaN,San Francisco,NaN
42987,42988,Maeve Reid,Registered Nurse,114724.86,1068.57,8509.74,34151.60,124303.17,158454.77,2012,NaN,San Francisco,NaN
29625,29626,WILHELMINA TAGLE,SENIOR ELIGIBILITY WORKER,3708.00,92.70,14619.66,NaN,18420.36,18420.36,2011,NaN,San Francisco,NaN
52284,52285,Licerio Astudillo,Central Processing & Dist Tech,66870.00,10058.15,824.00,31454.00,77752.15,109206.15,2012,NaN,San Francisco,NaN
84953,84954,Meggy H Lau,Sr Psychiatric Social Worker,93003.09,0.00,3063.65,32794.32,96066.74,128861.06,2013,NaN,San Francisco,NaN
24226,24227,DEAN FRICK,BUILDING AND GROUNDS PATROL OFFICER,46233.23,1422.03,3881.26,NaN,51536.52,51536.52,2011,NaN,San Francisco,NaN
32737,32738,NANCY PARKER,SPECIAL NURSE,6716.62,0.00,0.00,NaN,6716.62,6716.62,2011,NaN,San Francisco,NaN
32521,32522,YI RONG ZHU,SCHOOL CROSSING GUARD,7388.63,0.00,0.00,NaN,7388.63,7388.63,2011,NaN,San Francisco,NaN

**What columns exist in this dataframe?**

In [11]:
df.count(axis=0)

Id                  148654
EmployeeName        148654
JobTitle            148654
BasePay             148045
OvertimePay         148650
OtherPay            148650
Benefits            112491
TotalPay            148654
TotalPayBenefits    148654
Year                148654
Notes                    0
Agency              148654
Status                   0
dtype: int64

In [12]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

**How many rows does this dataframe have?**

In [13]:
df.shape

(148654, 13)

In [14]:
df.shape[0]

148654

In [15]:
len(df)

148654

**Display the information about the dataframe using the info function. Which of these columns have missing values in them?**

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [19]:
df.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                609
OvertimePay              4
OtherPay                 4
Benefits             36163
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              148654
dtype: int64

**What is the total BasePay?**

In [20]:
df['BasePay'].sum()

9819151073.590002

**What is the highest amount of overtime pay?**

In [21]:
df['OvertimePay'].max()

245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [24]:
df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [26]:
df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [30]:
df[df['TotalPayBenefits'] == df['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [31]:
df['Year'].unique()

array([2011, 2012, 2013, 2014])

In [42]:
df[(df['Year'] == 2013) | (df['Year'] == 2014)].groupby('Year').mean()['BasePay']

Year
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [34]:
df.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**Replace all the missing values in the Benefits column with 0**

In [35]:
df['Benefits'].isnull().sum()

36163

In [43]:
df['Benefits'].fillna(0, inplace=True)

In [44]:
df['Benefits'].isnull().sum()

0

**How many unique job titles exist in the dataframe?**

In [45]:
df['JobTitle'].nunique()

2159

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [47]:
df[df['TotalPayBenefits'] == df['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [48]:
df[df['TotalPayBenefits'] < 0]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
110528,110529,Timothy E Gibson,Police Officer 3,NaN,0.0,0.00,-2.73,0.00,-2.73,2013,NaN,San Francisco,NaN
110529,110530,Mark E Laherty,Police Officer 3,NaN,0.0,0.00,-8.20,0.00,-8.20,2013,NaN,San Francisco,NaN
110530,110531,David P Kucia,Police Officer 3,NaN,0.0,0.00,-33.89,0.00,-33.89,2013,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,NaN

**What are the top 5 most common jobs?**

In [50]:
df['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [55]:
sum(df[df['Year'] == 2013]['JobTitle'].value_counts() == 1)

202

In [56]:
df['Year'] == 2013

0         False
1         False
2         False
3         False
4         False
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: Year, Length: 148654, dtype: bool

**How many people have the word Chief in their job title?**

Hint: Use lambda expression here

In [57]:
def find_chief(job):
    if "chief" in job.lower():
        return True
    else:
        return False

In [58]:
df['JobTitle'].apply(find_chief)

0         False
1         False
2         False
3         False
4          True
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: JobTitle, Length: 148654, dtype: bool

In [60]:
sum(df['JobTitle'].apply(lambda job : True if "chief" in job.lower() else False))

627